.espaco-superior{
    margin-top: 50px;
}

.espaco-superior2{
    margin-top: 10px;
}

.espaco-superior3{
    margin-top: 90px;
}

.footer{
    text-align: center;
    background: rgb(232,236,238);
}
